<%= form_for(@alumno) do |f| %>
  <% if @alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
      <% @alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreal %><br>
    <%= f.text_field :nombreal %>
  </div>
  <div class="field">
    <%= f.label :appal %><br>
    <%= f.text_field :appal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
