<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreal:</strong>
  <%= @alumno.nombreal %>
</p>

<p>
  <strong>Appal:</strong>
  <%= @alumno.appal %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
