<div class="panel panel-default">
  <div class="panel-heading">Alumnos</div>

<table>
  <thead>
    <tr>
      <table class="table">

      <th>Nombre  </th>
      <th>Apellido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombreal %></td>
        <td><%= alumno.appal %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<center><%= link_to 'Agregar Alumno', new_alumno_path %></center>
<center><%= link_to 'Atras', inicio_index_path %></center>
