<div class="panel panel-default">

  <div class="panel-heading">Profesor</div>
  <p>
   <table>
     <thead>
       <tr>
  <table class="table">
  <strong>Nombre:</strong>
  <%= @profesor.nombreprof %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @profesor.approf %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @profesor.correo %>
</p>

<p>
  <strong>Especialidad:</strong>
  <%= @profesor.especialidad.nombre %>
</p>
</tr>
</thead>
<br>
</table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Alumnos</div>

  <p>
  <%@alumnos.each do |alumno| %>
  <strong>Nombre:<STRONG>
  <%=alumno.nombreal %>
  </p>
  <p>
  <strong>Apellido:<STRONG>
  <%=alumno.appal %>
  </p>
<% end %>

<p>
