<%= form_for(@foro) do |f| %>
  <% if @foro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foro.errors.count, "error") %> prohibited this foro from being saved:</h2>

      <ul>
      <% @foro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_area :contenido %>
  </div>
  <%= f.hidden_field :usuario_id, :value => current_usuario.id   %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
